PHAROS_RPC_URL=https://rpc.atlantic.pharosnetwork.xyz/
PHAROS_CHAIN_ID=5463
PHAROS_FAUCET_URL=https://testnet.pharosnetwork.xyz/faucet/
WALLET_PRIVATE_KEY=ВАШ_ПРИВАТНЫЙ_КЛЮЧ
DISCORD_TOKEN=
TWITTER_TOKEN=
PROXY_URL=
